.projects-container {
  max-width: 96rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10rem 2.5rem 5rem 2.5rem;
}

.projects-heading h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #ccd6f6;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}
